###
# Unity folders and files
###
/DigitalTunnel/[Aa]ssets/AssetStoreTools*
/DigitalTunnel/[Bb]uild/
/DigitalTunnel/[Ll]ibrary/
/DigitalTunnel/[Ll]ocal[Cc]ache/
/DigitalTunnel/[Oo]bj/
/DigitalTunnel/[Tt]emp/
/DigitalTunnel/[Uu]nityGenerated/
/DigitalTunnel/[Aa]ssets/VehiclePhysics
/DigitalTunnel/.vs


# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
